<div class="media">
    <figure class="media__imgWrapper">
    <img class="media__img" src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg" alt="猫">
    </figure>
    <div class="media__body">
    <h3 class="media__title">
        メディアタイトル
    </h3>
    <p class="media__text">
        ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </p>
    </div><!-- ./media__body -->
</div><!-- ./media -->

<!-- 逆位置 -->
<div class="media media--reverse">
    <figure class="media__imgWrapper">
    <img class="media__img" src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg" alt="猫">
    </figure>
    <div class="media__body">
    <h3 class="media__title">
        メディアタイトル
    </h3>
    <p class="media__text">
        ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </p>
    </div>
    <!-- ./media__body -->
</div>
<!-- ./media -->

<!-- 逆位置 -->
<div class="halfMedia">
    <figure class="halfMedia__imgWrapper">
    <img class="halfMedia__img" src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg" alt="猫">
    </figure>
    <div class="halfMedia__body">
    <h3 class="halfMedia__title">
        メディアタイトル
    </h3>
    <p class="halfMedia__text">
        ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
    </p>
    </div><!-- ./halfMedia__body -->
</div><!-- ./halfMedia -->