    <footer class="footer">
        <div class="container">
            <ul class="footer-menu">
                <li class="footer-menu__item"><a href="" class="footer-menu__link">メニュー１</a></li>
                <li class="footer-menu__item"><a href="" class="footer-menu__link">メニュー２</a></li>
                <li class="footer-menu__item"><a href="" class="footer-menu__link">メニュー３</a></li>
            </ul>
            <div class="footer-copy">©DEMO All Rights Reserved.</div>
        </div>
    </footer><!-- /.footer -->
    <div class="pagetop"><a href="javascript:void(0);"><img src="<%= rootPath %>images/top/top-btn.svg" alt=""></a></div>