<div class="postList">
    <div class="postList__item">
        <a href="" class="postItemLink">
            <div class="postItem">
                <div class="postItem__left"><span class="label">2022.01.01</span></div>
                <div class="postItem__right">
                    <div class="postItem__title">投稿タイトルが入ります。</div>
                </div>
            </div>
        </a>	
    </div><!-- ./postList__item -->
    
    <div class="postList__item">
        <a href="" class="postItemLink">
            <div class="postItem">
                <div class="postItem__left"><span class="label">2022.01.01</span></div>
                <div class="postItem__right">
                    <div class="postItem__title">投稿タイトルが入ります。</div>
                </div>
            </div>
        </a>	
    </div><!-- ./postList__item -->
    
    <div class="postList__item">
        <a href="" class="postItemLink">
            <div class="postItem">
                <div class="postItem__left"><span class="label">2022.01.01</span></div>
                <div class="postItem__right">
                    <div class="postItem__title">投稿タイトルが入ります。</div>
                </div>
            </div>
        </a>	
    </div><!-- ./postList__item -->
    
    <!-- <div>
        現在、お知らせはありません。
    </div> -->
</div><!-- ./postList -->