<article>            
    <div class="cards">
        <a class="cards__item card" href="">
            <div class="card__img">
                <img src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg">
            </div>
            <div class="card__body">
                <time class="card__time">2020.11.30</time>
                <h2 class="card__title">タイトル</h2>
                <div class="card__excerpt">抜粋が入ります。抜粋が入ります。抜粋が入ります。抜粋が入ります。</div>
            </div>
        </a>
            <a class="cards__item card" href="">
            <div class="card__img">
                <img src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg">
            </div>
            <div class="card__body">
                <time class="card__time">2020.11.30</time>
                <h2 class="card__title">タイトル</h2>
                <div class="card__excerpt">抜粋が入ります。抜粋が入ります。抜粋が入ります。抜粋が入ります。</div>
            </div>
        </a>
            <a class="cards__item card" href="">
            <div class="card__img">
                <img src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg">
            </div>
            <div class="card__body">
                <time class="card__time">2020.11.30</time>
                <h2 class="card__title">タイトル</h2>
                <div class="card__excerpt">抜粋が入ります。抜粋が入ります。抜粋が入ります。抜粋が入ります。</div>
            </div>
        </a>
            <a class="cards__item card" href="">
            <div class="card__img">
                <img src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg">
            </div>
            <div class="card__body">
                <time class="card__time">2020.11.30</time>
                <h2 class="card__title">タイトル</h2>
                <div class="card__excerpt">抜粋が入ります。抜粋が入ります。抜粋が入ります。抜粋が入ります。</div>
            </div>
        </a>
        <a class="cards__item card" href="">
            <div class="card__img">
            <img src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg">
            </div>
            <div class="card__body">
            <time class="card__time">2020.11.30</time>
            <h2 class="card__title">タイトル</h2>
            <div class="card__excerpt">抜粋が入ります。抜粋が入ります。抜粋が入ります。抜粋が入ります。</div>
            </div>
        </a>
            <a class="cards__item card" href="">
            <div class="card__img">
            <img src="https://haniwaman.com/parts/wp-content/uploads/2018/02/cat.jpg">
            </div>
            <div class="card__body">
            <time class="card__time">2020.11.30</time>
            <h2 class="card__title">タイトル</h2>
            <div class="card__excerpt">抜粋が入ります。抜粋が入ります。抜粋が入ります。抜粋が入ります。</div>
            </div>
        </a>
        </div>
</article>
